body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
#container{
  width: 1000px;
  height: 550px;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgImg.jpg);
  margin: 20px auto;
}
#calculator:hover {
  box-shadow: 3px 3px 8px 0px rgb(251, 255, 6), 0px 6px 20px 0px rgb(3, 0, 0),
  7px 7px 10px 0px rgb(132, 0, 255),-3px -3px 8px 0px rgb(251, 255, 6),
  -5px -5px 10px 0px rgb(204, 0, 255);
}
#calculator {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 320px;
  height: 510px;
  background-color: #eaedefd5;
  margin: 0px auto;
  top: 20px;
  position: relative;
  border-radius: 5px;
}
#result{
  height: 120px;
}
#history-value{
  overflow: hidden;
  text-overflow: ellipsis;
}
#history{
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 30px;
  font-size: 16px;
  color: #797878;
}
#output-value{
  overflow: hidden;
  text-overflow: ellipsis;
}
#output{
  text-align: right;
  height: 43px;
  margin: 10px 20px;
  font-size: 30px;
  background-color: rgba(0, 179, 224, 0.288);
  border-radius: 5px;
  box-shadow: 4px 4px 20px 0px rgb(255, 255, 255), -4px -4px 20px 0px rgb(255, 255, 255);
}
#hidden-output{
  display: none;
}
#keyboard{
  padding-top: 40px;
  height: 400px;
}
input[type=checkbox]{
  display: none;
}
label {
  padding-right: 6px;
  margin-top: 15px;
  margin-left: 7px;
  text-align: center;
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-size: 18px;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms;
  transition-delay: 0;
}
.operator, .number, .comma, .sign{
  width: 50px;
  height: 50px;
  margin: 7px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 16px;
}
.operator{
  font-size: 14;
}
.operator:hover, .number:hover, .comma:hover, .sign:hover, label:hover{
  color: aqua;
}
.number, .comma{
  background-color: rgba(255, 255, 255, 0);
}
label:active{
  font-size: 17;
}
.number:active, .comma:active{
  font-size: 14;
  color: white;
  background-color: black;
  box-shadow: 2px 4px 20px 0px rgb(255, 1, 213), -1px -1px 30px 0px rgb(3, 41, 255);
}
.operator:active, .sign:active{
  font-size: 17;
  color: rgb(255, 238, 5);
  box-shadow: 2px 4px 7px 0px rgb(255, 238, 5), -1px -1px 10px 0px rgb(255, 238, 5);
}
.operator:focus, .number:focus, .comma:focus, .sign:focus{
  outline: 0;
}
button:nth-child(4){
  font-size: 18;
  background-color: #80c994;
}
button:nth-child(5){
  font-size: 18;
  background-color: #20b2aa;
}
button:nth-child(9){
  font-size: 18;
  background-color: #ffd035;
}
button:nth-child(10){
  font-size: 18;
  background-color: #ffa600;
}
button:nth-child(14){
  font-size: 18;
  background-color: #f080ab;
}
button:nth-child(15){
  font-size: 18;
  background-color: #f08080;
}
button:nth-child(19){
  font-size: 18;
  background-color: #7db3e0;
}
button:nth-child(20){
  font-size: 18;
  background-color: #7d93e0;
}
button:nth-child(25){
  font-size: 18;
  background-color: #b1b1b1;
}
button:nth-child(26){
  font-size: 18;
  background-color: #9477af;
}